*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: monospace;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #000;
    color: #fff;
}

form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#heading{
    color: royalblue;
    padding-bottom: 20px;
}
label{
    font-size: 18px;
    margin-bottom: 5px;
}
input{
    padding: 10px;
    width: 18%;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}
#submit{
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #000;
    color: #fff;

}
#error{
    color: lightcoral;

}