* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #000;
    color: #fff;
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img {
    height: 80%;
    width: 90%;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
}
